.header {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
