

app-body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 100%;
  background-attachment: fixed !important;
}

.header__user-avatar img {
  width: 50px;
}

.header__logo img {
  width: 150px;
}
