.app-body {
  background-size: cover;
  padding: 45px 65px;
  height: calc(100vh - 90px);
  /* background-repeat: no-repeat;
  background-position: 50%;
  min-height: 100%;
  background-attachment: fixed !important;  */
}


/*
.header{
  display: flex;
  justify-content: space-between;
}
.header__left{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.header__right{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.header__logo img {
  width: 150px;
}

.story-info{
  display: flex;
  flex-direction: column;
}

.story-info__title h5{

}
.story-info__subtitle h6{

}
.header__life-points{

}
.header__user-avatar img {
  width: 50px;
}
.header__sound-control{

}
.exercise__instructions--container{

}
.exercise__options--container{

}
.exercise__options--reset-control{

}
.exercise__options--input{

}
.exercise__options--answers{

}

*/